################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SucessPointCore.Infrastructure/bin
/SucessPointCore.Domain/bin
/SuccessPointCore.Application/bin
/SucessPointCore.Infrastructure/obj
/SucessPointCore.Domain/obj
/SucessPointCore.Api/bin
/SuccessPointCore.Application/obj
/SucessPointCore.Api/obj
/SucessPointCore.Api/SqlErrorsLog.txt
/SuccessPointCore.Api/.config/dotnet-tools.json
/SuccessPointCore.Api/bin/Debug/net7.0
/SuccessPointCore.Api/bin/Release/net7.0
/SuccessPointCore.Api/obj
/SuccessPointCore.Domain/bin
/SuccessPointCore.Domain/obj
/SuccessPointCore.Infrastructure/bin
/SuccessPointCore.Infrastructure/obj
